.form {
    background-color: white;
    border: 4px solid #9399b4;
    border-radius: 12px;
    width: 455px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
        &__icon {
            color: $blue;
            font-size: 20px;
            margin-left: 15px;
        }
        &__input {
            border: none;
            outline: none;
            margin-left: -65px;
                &::placeholder {
                    color: $color-text-secondary;
                }
        }
        &__mark {
            color: $color-text-secondary;
            position: absolute;
            top: 28px;
            right: 145px;
            display: none;
        }
        &__button {
            color: white;
            background-color: $blue;
            font-size: 18px;
            border: none;
            border-radius: 15px;
            padding: 18px 30px;
            margin-right: 8px;
                &:hover {
                    cursor: pointer;
                }
        }
}

.darkForm {
    background-color: #1a1c23; 
    border: 4px solid #1e2029;
        &__input {
            background-color: #1a1c23;
            color: $color-text-secondary;
            border: none;
            outline: none;
            margin-left: -65px;
                &::placeholder {
                    color: $color-text-secondary;
                }
        }
}